#hlogo {
    width: 400px;
    height: auto;
}
.header {
    border-bottom-style: solid;
    border-bottom-color: rgb(180, 180, 180);
    padding: 10px;
    text-align: left;
    grid-row: 1;
    grid-column: 1/ 3;
}

